body {
  background-image: url('/images/Spongebob.png');
  background-repeat: no-repeat;
  background-position: 75% 75%;
  background-attachment: fixed;
  background-color:transparent;
}

#nav_title{
	font-size: xx-large;
	color: #000000;
}

#bot_text{
	color: red;
}

#dict{
	clear: both;
	vertical-align: bottom;
}